<!-- Hereda de plantilla principal -->
{% extends 'public/base/base.html' %}

<!-- Carga archivos estaticos -->
{% load static %}

<!-- SEO META -->
{% block meta %}
<meta name="description"
    content="Servicio de electricista a domicilio, soluciones en instalaciones y cortes eléctricos. Disponibles 24 hrs. en toda la Región Metropolitana.">
<meta name="keywords"
    content="Electricista, Electricista Las Condes, Electricista Chicureo, Electricista Vitacura, Electricista a domicilio">

<meta property="og:title" content="Electricidad RCD | Electricista a domicilio">
<meta property="og:image" content="{{ request.build_absolute_uri }}media/public/logo/logo.png">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:site_name" content="Electricidad RCD">
<meta property="og:description"
    content="Servicio de electricista a domicilio, soluciones en instalaciones y cortes eléctricos. Disponibles 24 hrs. en toda la Región Metropolitana.">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="electricidadrcd.cl">
<meta property="twitter:url" content="{{ request.build_absolute_uri }}">
<meta name="twitter:title" content="Electricidad RCD | Electricista a domicilio">
<meta name="twitter:description"
    content="Servicio de electricista a domicilio, soluciones en instalaciones y cortes eléctricos. Disponibles 24 hrs. en toda la Región Metropolitana.">
<meta name="twitter:image" content="{{ request.build_absolute_uri }}media/public/logo/logo.png">
{% endblock meta %}

<!-- Titulo de pagina -->
{% block title %}
<title>Electricista a domicilio | Electricidad RCD</title>
{% endblock title %}

<!-- Contenido de pagina -->
{% block content %}
<!-- Icono whasApp -->
{% include 'public/base/whatsapp.html' %}
<!-- Header -->
{% include 'public/base/header.html' %}

<main>
    
</main>

<!-- Footer -->
{% include 'public/base/footer.html' %}

{% endblock content %}